.hours {
    float: left;
    width: 40%;
    margin: 0px;
    padding: 5px;
    background:linear-gradient(180deg, rgb(133, 98, 1) 0%, rgb(255, 255, 255) 100%);
}

.fees {
    float: left;
    width: 40%;
    margin: 0px;
    padding: 5px;
    background: linear-gradient(180deg, rgb(52, 145, 52) 0%, rgb(255, 255, 255) 100%);
}

.images {
    position: relative;
    top: 100px;
    width: 150px;
    height: 100px;
    float: left;
    margin: 10px;
    border-radius: 10px;
}