/*
.center {
    margin: 1rem;
    width: 25rem;
    height: 200px;
   padding-left: 20rem;
}


.searchInputs {
    margin-top: 2rem;
    display: flex;
    height: 40px;
  }
  
  .search input {
    background-color: rgb(238, 238, 238);
    border: 15;
    border-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
    
  }

  #searchButton {
    padding: 5px 25px;
    margin: 4px;
    border-radius: 8px;
    height: 37px;
    margin-top: 0px;

  }
  
  .searchIcon {
    height: 60px;
    width: 50px;
    background-color: white;
    display: grid;
    place-items: center;
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 35px;
  }
  
  .dataResult {
    margin-top: .025rem;
    width: 300px;
    height: 200px;
    background-color: rgb(226, 222, 222);
    box-shadow: rgba(39, 39, 39, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    align-items: center;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
    align-items: center;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: rgb(87, 87, 87);
    align-items: center;
  }
  
  .dataItem p {
    margin-left: 10px;
  }
  a {
    text-decoration: none;
  }
  
  a:hover {
    background-color: rgb(201, 201, 201);
  }
  
  #clearBtn {
    cursor: pointer;
  }

  #searchBar {
    background-color: blue;
  }*/

  .suggestion {
    cursor: pointer;
    border-right: 1px;
    /*border-left: 1px;*/
    /*border-bottom: 1px;*/
    position: relative; 
    left: 50%;
    margin-left: -200px;


}
/*.suggestion:hover {
    background-color: beige;
    padding-left: 5px;
}*/

.textInput {
    background-color: rgb(245, 245, 245);
    /*padding-left: 10rem;*/
    width: 22.5rem;
    height: 1.75rem;
    position: relative; 
    left: 50%;
    margin-left: -200px;
    text-align: center;
    border-radius: 6px;
    font-size: 20px;

    
}

.searchResults {
    width: 22.5rem;
    height: 2.75rem;
    background-color: rgb(241, 241, 241);
    box-shadow: rgba(39, 39, 39, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    align-items: center;
    text-align: center;

}

.searchResults::-webkit-scrollbar {
    display: none;
    align-items: center;
}

.searchResults .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: rgb(87, 87, 87);
    align-items: center;

}

.dataItem p {
    margin-left: 10px;
}
  



.container {
    padding: 2em;
}

.searchResults:hover {
    background-color: rgb(182, 182, 182);
}

.searchLink {
  color: black;
  text-decoration: none;
}